.intro {
    margin-top: 20px;
    text-align: center;
    color: #DEB887;
}

.space {
    margin-top: 10%;
}

.classFooter {
    text-align: center;
}

.table-text {
    padding: 35px 15px;
    font-weight: bold;
}