.intro {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    white-space: 2px;
    color: white;
}

.space {
    margin-top: 5%;
}

.classFooter {
    text-align: center;
    color: floralwhite;
}
